@charset "urf-8";

/* common */
body {
    font-family: 'Noto Sans KR', '맑은 고딕', 'AppleSDGothicNeo', 'Dotum', 'sans-serif';
}
button {padding: 0;background: none;border: none;line-height: 1;vertical-align: middle;font: inherit;margin: 0;}
.container {width: 90%;margin: auto;}
.clrfix:after {content: "";display: block;clear: both;}
.blind {display: block;width: 0;height: 0;overflow: hidden;}


/* Skip_Nav */
.skip_nav {}
.skip_nav a {
    display: block;background: orange;color: #fff;line-height: 50px;text-align: center;
    position: absolute;left: 0;right: 0;top: -50px;z-index: 10;
}
.skip_nav a:focus {top: 0;}

.quick_menu {}
.quick_menu img {position: fixed;right: 20px;top: 200px;width: auto;}
.quick_menu img:nth-child(2) {margin-top: 70px;}
.quick_menu img:nth-child(3) {margin-top: 140px;}
.quick_menu img:nth-child(4) {margin-top: 210px;}


/* Header */
header {background: #dad0c8;position: fixed;left: 0;right: 0;top: 0;z-index: 9999;}
header h1 {float: left;}
header h1 a {padding: 23px 0;display: block;width: 157px;height: 36px;background: url(../img/logo.png) center no-repeat;background-size: contain;}


header nav {text-align: center;}
header #gnb {display: inline-block;}
header #gnb>li {display: inline-block;position: relative;font-size: 18px;vertical-align: top;}
header #gnb>li>a {display: block;line-height: 82px;padding: 0 38px;font-weight: 500;}

header #gnb .gnb2 {display: none;width: 600px;position: absolute;left: 38px;top: 82px;z-index: 99;}
header #gnb .gnb2>li {float: left;margin-right: 38px;line-height: 82px}
header #gnb .gnb3 {display: none;}

header #gnb>li:last-child .gnb2 {left: auto;}
.nav_bg {height: 82px;position: absolute;left: 0;right: 0;top: 82px;background: #FFF;border-bottom: 2px solid #e5ddd8}


header .util {float: right;padding-top: 30px;}
header .search_wrap {float: left;}
header .search_wrap .search_btn {line-height: 36px;}
header .search_wrap .search_form {display: none;}
header .search_wrap .search_btn img {margin-right: 17px;width: 26px;height: 23px;}
header .allmenu_wrap {float: left;}
header .allmenu_wrap .hamburger_button img {width: 26px;height: 23px;}

header .allmenu_wrap .allmenu_box {display: none;position: fixed;left: 0;right: 0;top: 0;bottom: 0;overflow: auto;background: #FFF;z-index: 100;}
.allmenu_box .a1>li>a {position: relative;}
header .allmenu_wrap .allmenu_box ul button {border: 1px solid #000; width: 18px;height: 11px;position: absolute;right: 35px;top: 12%;background: url(../img/arrow.png);transform: translateY(-50%) rotate(0);}
header .allmenu_wrap .allmenu_box ul button.open {transform: translateY(-50%) rotate(180deg);}


header .allmenu_wrap .close_btn {position: absolute;top: 25px;}


/* Main */
main section {padding: 80px 0;}
main h2 {margin-bottom: 60px;font-size: 24px;font-weight: bold;}
main img {width: 100%;}
main strong {font-size: 18px;font-weight: 600;line-height: 1.3;}
main p {font-size: 16px;margin: 25px 0;line-height: 1.3;}
main .txt {padding: 35px;}

.visual_wrap {margin-top: 0px;}
.visual_image1 {width: 100vw;height: 100vh;background: url(../img/visual_img1.png) center no-repeat;}
.visual_image2 {width: 100vw;height: 100vh;background: url(../img/visual_img2.png) center no-repeat;}
.visual_image3 {width: 100vw;height: 100vh;background: url(../img/visual_img3.png) center no-repeat;}
.visual_image4 {width: 100vw;height: 100vh;background: url(../img/visual_img4.png) center no-repeat;}
.visual_wrap .control_button {}
.visual_wrap .control_button button {position: absolute;top: 50%;transform: translateY(-50%);text-indent: -9999px;width: 50px;height: 50px;cursor: pointer;}
.visual_wrap .control_button .slick-prev {left: 5%;background: url(../img/prev.png) center no-repeat;}
.visual_wrap .control_button .slick-next {right: 5%;background: url(../img/next.png) center no-repeat;}

main .product_wrap {}
main .product_wrap li {float: left;width: calc(33.333333% - 27px);margin-right: 40px;text-align: center;}
main .product_wrap li:last-child {margin-right: 0;}
main .product_wrap li img {width: 100%;margin-bottom: 30px;}
main .product_wrap li span {font-size: 20px;}


main .news_wrap {}
main .news_wrap li {float: left;width: calc(33.333333% - 27px);margin-right: 40px;border: 1px solid #dddddd;box-sizing: border-box;}
main .news_wrap li:last-child {margin-right: 0;}
main .news_wrap li span {color: #aaa;font-size: 16px;}


main .event_wrap li {float: left;width: calc(50% - 28px);margin-right: 56px;border: 1px solid #dddddd;box-sizing: border-box;}
main .event_wrap li:last-child {margin-right: 0;}
main .event_wrap li span {color: #aaa;font-size: 16px;}


main .experience_wrap li {float: left;width: calc(33.333333% - 27px);margin-right: 40px;margin-bottom: 80px; border: 1px solid #dddddd;box-sizing: border-box;}
main .experience_wrap li:last-child {margin-right: 0;}
main .experience_wrap li span {color: #aaa;font-size: 16px;}

/* display: block;float: left;width: 400px;overflow: hidden; */

/* Footer */
footer {background: #e5ddd8;}
footer .footer_menu {border-bottom: 1px solid #82756d;padding: 50px 0 50px 0;}
footer .footer_menu li {margin-right: 40px;font-size: 18px;color: #522b1c;line-height: 24px;}

footer .corp_info .footer_info {float: left;width: 100%; padding: 50px 0;}
footer .corp_info img {width: 200px;}
footer .corp_info .footer_address {line-height: 24px;font-size: 16px;color: #616264;}
footer .corp_info .footer_address p {color: #b0a69f;margin-top: 30px;}

footer .corp_info .footer_order {color: #522b1c;line-height: 24px;}
footer .corp_info .footer_order p {font-size: 18px;font-weight: bold;margin-bottom: 8px;}
footer .corp_info .footer_order strong {font-size: 30px;font-weight: bold;display: block;margin-bottom: 20px;}
footer .corp_info .footer_order span {color: #616264;}






/* Tablet */
@media screen and (max-width: 1280px) {
    header nav #gnb {display: none;}

    header .allmenu_wrap .allmenu_box {background: rgba(0,0,0,0.8);}
    header .allmenu_wrap .allmenu_box .a1 {width: 500px;padding-top: 80px;line-height: 30px;border-top: 1px solid #dad0c8;background: #FFF;position: absolute;right: 0;top: 0;bottom: 0;}
    header .allmenu_wrap .allmenu_box .a1 a {display: block;}
    header .allmenu_wrap .allmenu_box .a1>li>a {padding: 10px 20px;font-size: 18px;font-weight: 600;border-bottom: 1px solid #dad0c8;}

    header .allmenu_wrap .allmenu_box .a2 {display: none;padding: 0 20px;background: #f6f1ed;}
    header .allmenu_wrap .allmenu_box .a2 a {display: block;}
    header .allmenu_wrap .allmenu_box .a2>li {border-bottom: 1px solid #dad0c8;}
    header .allmenu_wrap .allmenu_box .a2>li:last-child {border-bottom: none;}
    header .allmenu_wrap .allmenu_box .a2>li>a {padding: 5px 20px;font-size: 16px;}
    
    header .allmenu_wrap .allmenu_box .a3 {display: block;}
    header .allmenu_wrap .allmenu_box .a3>li {}
    header .allmenu_wrap .allmenu_box .a3>li>a {margin-left: 30px;font-size: 14px;}
    header .allmenu_wrap .allmenu_box .a3>li>a:before {content: ""; display: inline-block;width: 3px;height: 3px;margin-right: 7px;background: #d6cac2;vertical-align: middle;}

    header .allmenu_wrap .close_btn {top: 25px;right: 5%;}

    footer .footer_menu li {float: left;}
    footer .corp_info .footer_order {float: right;}
    footer .corp_info img {display: block;float: none;margin: 0 auto 60px auto;}
    footer .corp_info .footer_address {float: left;}
    
}

/*visual*/
@media screen and (max-width: 800px) {
    .visual_image1 {width: 100vw;height: 100vh;background: url(../img/mo_visual_img1.png) center no-repeat;}
    .visual_image2 {width: 100vw;height: 100vh;background: url(../img/mo_visual_img2.png) center no-repeat;}
    .visual_image3 {width: 100vw;height: 100vh;background: url(../img/mo_visual_img3.png) center no-repeat;}
    .visual_image4 {width: 100vw;height: 100vh;background: url(../img/mo_visual_img4.png) center no-repeat;}

    footer .footer_menu {text-align: center;}
    footer .footer_menu li {display: inline-block; margin-right: 10px;}
    footer .corp_info .footer_order {margin-bottom: 20px;text-align: center;float: none;}
    footer .corp_info img {display: block;margin: auto;margin-bottom: 20px;width: 200px;}
    footer .corp_info .footer_address {text-align: center;float: none;}
}


/* Mobile */
@media screen and (max-width: 501px) {
    header nav #gnb {display: none;}
    
    .quick_menu img {display: none;}

    
    main .product_wrap li {display: none;width: auto;margin: auto;}
    main .product_wrap li:first-child {display: block;}

    main .news_wrap li {display: none;width: auto;margin: auto;}
    main .news_wrap li:first-child {display: block;} 

    main .event_wrap li {display: none;width: auto;margin: auto;}
    main .event_wrap li:first-child {display: block;}

    main .experience_wrap li {display: none;width: auto;margin: auto;}
    main .experience_wrap li:first-child {display: block;}    
}

/* PC */
@media screen and (min-width: 1281px) {
    .container {min-width: 1150px;max-width: 1320px}
    
    header .allmenu_wrap .allmenu_box {padding: 150px calc((100% - 1280px) / 2);}
    header .allmenu_wrap .allmenu_box .a1 {}
    header .allmenu_wrap .allmenu_box .a1>li {float: left;width: 220px;margin-right: 40px;}
    header .allmenu_wrap .allmenu_box .a1>li:last-child {margin-right: 0;}
    header .allmenu_wrap .allmenu_box .a1>li>a {font-size: 30px;font-weight: 600;}
    
    header .allmenu_wrap .allmenu_box .a2 {margin-top: 20px;border-top: 1px solid #d6cac2;}    
    header .allmenu_wrap .allmenu_box .a2>li {}
    header .allmenu_wrap .allmenu_box .a2>li>a {font-size: 20px;line-height: 70px;}
    header .allmenu_wrap .allmenu_box .a3 {margin-left: 10px;font-size: 14px;line-height: 30px;padding-left: 10px;}
    header .allmenu_wrap .allmenu_box .a3>li {}
    header .allmenu_wrap .allmenu_box .a3>li>a:before {content: ""; display: inline-block;width: 3px;height: 3px;margin-right: 7px;background: #d6cac2;vertical-align: middle;}

    footer .footer_menu li {float: left;}
    footer .corp_info .footer_order {float: right;}
    footer .corp_info img {float: left;}
    footer .corp_info .footer_address {padding: 0 30%;}
    
}


